<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/grandma.js"></script>
	<script src="js/services/cookies.js"></script>
	<script src="js/controllers/cookiectrl.js"></script>
	<script src="js/controllers/farm.js"></script>

</head>
<body >
<div style="float: left; width: 25%;" ng-controller="cookieCtrl">
	<h1>Cookies: {{cookies.cookies}}</h1>
	<img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Choco_chip_cookie.png"  style="width:90%" ng-click="incrementaCookie()">

</div>


<div style="float: left" ng-controller="grandmaCtrl">
	
	<button ng-click="buyGrandma()"> 

	<h3>Grandma</h3>
	<h4>bakes a cookie every second</h4>
	<p>cost: {{cost}}</p>
	<p> grandmas buyed: {{grandmas}}</p>
	<h5>{{advice}}</h5>
	</button>
	
	
</div>
<div style="float: left" ng-controller="farmCtrl">
	
	<button ng-click="buyFarm()"> 

	<h3>Farm</h3>
	<h4>bakes 10 cookies every second</h4>
	<p>cost: {{cost}}</p>
	<p> farms buyed: {{farms}}</p>
	<h5>{{advice}}</h5>
	</button>
	
	
</div>

	
</body>
</html>