<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/grandma.js"></script>
	<script src="js/services/cookies.js"></script>
	<script src="js/controllers/cookiectrl.js"></script>

</head>
<body >
<div ng-controller="cookieCtrl">
	<h2>Total: {{cookies.cookies}}</h2>
	<button ng-click="incrementaCookie()">COOKIE!</button>

</div>

<br/>
<div ng-controller="grandmaCtrl">
	
	<button ng-click="buyGrandma()"> buy a grandma</button>
	<p>cost: {{cost}}</p>
	<p> grandmas buyed: {{grandmas}}</p>
	<p>{{advice}}</p>
</div>


	
</body>
</html>